/* Styles for screens with a maximum width of 768px */

:root {
	/*Theme 1*/

	/*Backgorund colors*/
	--very-dark-blue: hsl(222, 26%, 31%);
	--very-dark-blue-toggle: hsl(223, 31%, 20%);
	--very-dark-blue-screen: hsl(224, 36%, 15%);

	/*Keys*/
	--theme1-key-reset: hsl(225, 21%, 49%);
	--theme1-key-reset-background: hsl(224, 28%, 35%);
	--theme1-key-equal: hsl(6, 63%, 50%);
	--theme1-key-equal-background: hsl(6, 70%, 34%);
	--theme1-key-background-toggle: hsl(20, 25%, 89%);
	--theme1-key-shadow-toggle: hsl(28, 16%, 65%);

	/*Text colors*/
	--theme1-text: hsl(0, 0%, 100%);
	--theme1-keys-color: hsl(221, 14%, 31%);

	/*Theme 2*/

	/*Backgorund colors*/
	--light-gray: hsl(0, 0%, 90%);
	--grayish-red: hsl(0, 5%, 81%);
	--very-light-gray: hsl(0, 0%, 93%);

	/*Keys*/
	--theme2-key-reset: hsl(185, 42%, 37%);
	--theme2-key-reset-background: hsl(185, 58%, 25%);
	--theme2-key-equal: hsl(25, 98%, 40%);
	--theme2-key-equal-background: hsl(25, 99%, 27%);
	--theme2-key-background-toggle: hsl(45, 7%, 89%);
	--theme2-key-shadow-toggle: hsl(35, 11%, 61%);

	/*Text colors*/
	--theme2-text: hsl(60, 10%, 19%);
	--theme2-keys-color: hsl(0, 0%, 100%);

	/*Theme 3*/

	/*Backgorund colors*/
	--very-dark-violet: hsl(268, 75%, 9%);
	--very-dark-violet-toggle: hsl(268, 71%, 12%);

	/*Keys*/
	--theme3-key-reset: hsl(281, 89%, 26%);
	--theme3-key-reset-background: hsl(285, 91%, 52%);
	--theme3-key-equal: hsl(176, 100%, 44%);
	--theme3-key-equal-background: hsl(177, 92%, 70%);
	--theme3-key-background-toggle: hsl(268, 47%, 21%);
	--theme3-key-shadow-toggle: hsl(290, 70%, 36%);

	/*Text colors*/
	--theme3-text: hsl(52, 100%, 62%);
	--theme3-keys-color: hsl(0, 0%, 100%);
	--theme-text-toggle: hsl(198, 20%, 13%);
}

.calculator-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	height: 10vh;
}

.title h4 {
	margin-left: -2rem;
}

.theme-controls {
	display: flex;
	font-size: 10px;
	margin-top: 10px;
}

.theme-chooser {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--very-dark-blue-toggle);
	transition: background-color 0.3s ease;
	border-radius: 100px;
	padding: 5px;
	margin: 10px -30px 0 -200px;
	width: 60px;
	position: relative;
	overflow: hidden; /* Hide overflow */
}

.theme-toggle {
	background-color: var(--theme1-key-background-toggle);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.5s ease;
	opacity: 0;
	position: relative;
}

.calculator-keys > *:hover {
	filter: brightness(130%);
}

.theme-numbers {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: absolute;
	margin-top: -45px;
	margin-left: 378px;
	font-size: 20px;
}

.theme-number1 {
	margin: 0 6px;
}
.theme-number2 {
	margin: 0 9px;
}
.theme-number3 {
	margin: 0 7px;
}

.theme-toggle.active {
	transform: translateX(0.5px); /* Adjust the distance of the movement */
	opacity: 1; /* Show active toggles */
}
.theme1-toggle {
	background-color: var(--theme1-key-equal);
}

.theme2-toggle {
	background-color: var(--theme2-key-equal);
}

.theme3-toggle {
	background-color: var(--theme3-key-equal);
}

body.theme1 {
	background-color: var(--very-dark-blue);
	color: var(--theme1-text);
}

body.theme2 {
	background-color: var(--light-gray);
	color: var(--theme2-text);
}

body.theme3 {
	background-color: var(--very-dark-violet);
	color: var(--theme3-text);
}

/* change the color of the className baased on the theme */
body.theme1 .calculator-display {
	background-color: var(--very-dark-blue-screen);
}

body.theme2 .calculator-display {
	background-color: var(--very-light-gray);
}

body.theme3 .calculator-display {
	background-color: var(--very-dark-violet-toggle);
}

body.theme1 .calculator-keys {
	background-color: var(--very-dark-blue-toggle);
}

body.theme2 .calculator-keys {
	background-color: var(--grayish-red);
}

body.theme3 .calculator-keys {
	background-color: var(--very-dark-violet-toggle);
}

/*background shadow for the keys */

body.theme1 .calculator-keys .number {
	box-shadow: 0px 4px var(--theme1-key-shadow-toggle);
}

body.theme2 .calculator-keys .number {
	box-shadow: 0px 4px var(--theme2-key-shadow-toggle);
}

body.theme3 .calculator-keys .number {
	box-shadow: 0px 4px var(--theme3-key-shadow-toggle);
}

/* change the color of the delete,reset and equal keys based on the theme */

body.theme1 .del {
	background-color: var(--theme1-key-reset);
	color: var(--theme1-text);
	box-shadow: 0px 4px var(--theme1-key-reset-background);
}

body.theme2 .del {
	background-color: var(--theme2-key-reset);
	color: var(--theme2-keys-color);
	box-shadow: 0px 4px var(--theme2-key-reset-background);
}

body.theme3 .del {
	background-color: var(--theme3-key-reset);
	color: var(--theme3-keys-color);
	box-shadow: 0px 4px var(--theme3-key-reset-background);
}

body.theme1 .reset {
	background-color: var(--theme1-key-reset);
	color: var(--theme1-text);
	box-shadow: 0px 4px var(--theme1-key-reset-background);
}

body.theme2 .reset {
	background-color: var(--theme2-key-reset);
	color: var(--theme2-keys-color);
	box-shadow: 0px 4px var(--theme2-key-reset-background);
}

body.theme3 .reset {
	background-color: var(--theme3-key-reset);
	color: var(--theme3-keys-color);
	box-shadow: 0px 4px var(--theme3-key-reset-background);
}

body.theme1 .equals {
	background-color: var(--theme1-key-equal);
	color: var(--theme1-text);
	box-shadow: 0px 4px var(--theme1-key-equal-background);
}

body.theme2 .equals {
	background-color: var(--theme2-key-equal);
	color: var(--theme2-keys-color);
	box-shadow: 0px 4px var(--theme2-key-equal-background);
}

body.theme3 .equals {
	background-color: var(--theme3-key-equal);
	color: var(--theme-text-toggle);
	box-shadow: 0px 4px var(--theme3-key-equal-background);
}

/* change the color of the numbers based on the theme */

body.theme1 .number {
	background-color: var(--theme1-key-background-toggle);
	color: var(--theme1-keys-color);
}

body.theme2 .number {
	background-color: var(--theme2-key-background-toggle);
	color: var(--theme2-text);
}

body.theme3 .number {
	background-color: var(--theme3-key-background-toggle);
	color: var(--theme3-text);
}

html {
	font-family: "Spartan", sans-serif;
	line-height: 1.4;
	background-color: var(--very-dark-blue);
	color: var(--theme1-text);
}

body {
	flex-direction: column;
	display: flex;
	font-size: 32px;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator-display {
	font-weight: 700;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 3rem;
	border: none;
	outline: none;
	border-radius: 5px;
	width: 28rem;
	height: 4rem;
	padding: 0.75rem 1rem;
	overflow: hidden; /* Hide overflow */
	text-overflow: ellipsis; /* Display "..." if text overflows */
	white-space: nowrap; /* Prevent line breaks */
}

.calculator-keys {
	display: grid;
	padding: 2rem;
	height: 25rem;
	margin-top: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	grid-template-areas:
		"seven eight nine del"
		"four five six plus"
		"one two three minus"
		"decimal zero divide multiply"
		"reset reset equals equals";
}

button {
	font-family: inherit;
	font-weight: 700;
	font-size: 25px;
}

.calculator-keys > * {
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.one {
	grid-area: one;
	color: var(--theme1-keys-color);
}

.two {
	grid-area: two;
	color: var(--theme1-keys-color);
}

.three {
	grid-area: three;
	color: var(--theme1-keys-color);
}

.four {
	grid-area: four;
	color: var(--theme1-keys-color);
}

.five {
	grid-area: five;
	color: var(--theme1-keys-color);
}

.six {
	grid-area: six;
	color: var(--theme1-keys-color);
}

.seven {
	grid-area: seven;
	color: var(--theme1-keys-color);
}

.eight {
	grid-area: eight;
	color: var(--theme1-keys-color);
}

.nine {
	grid-area: nine;
	color: var(--theme1-keys-color);
}

.zero {
	grid-area: zero;
	color: var(--theme1-keys-color);
}

.reset {
	grid-area: reset;
	color: var(--theme1-text);
}

.equals {
	grid-area: equals;
	color: var(--theme1-text);
}

.del {
	grid-area: del;
	color: var(--theme1-text);
}

.decimal {
	grid-area: decimal;
	color: var(--theme1-keys-color);
}

.divide {
	grid-area: divide;
	color: var(--theme1-keys-color);
}

.multiply {
	grid-area: multiply;
	color: var(--theme1-keys-color);
}

.minus {
	grid-area: minus;
	color: var(--theme1-keys-color);
}

.plus {
	grid-area: plus;
	color: var(--theme1-keys-color);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Common styles */
@media screen and (max-width: 768px) {
	.theme-controls {
		margin-top: 10px;
	}

	.calculator-display {
		font-size: 2rem;
		width: 25rem;
	}

	.calculator-keys {
		height: 25rem;
	}

	.calculator-keys > * {
		font-size: 2rem;
	}
	.theme-numbers {
		margin-left: 330px;
	}
}

@media screen and (max-width: 500px) {
	.theme-controls {
		margin-right: 100px;
		margin-top: 10px;
	}
	.calculator-display {
		font-size: 1.5rem;
		width: 20rem;
	}

	.calculator-keys {
		height: 20rem;
	}

	.calculator-keys > * {
		font-size: 1.5rem;
	}

	.theme-numbers {
		margin-left: 255px;
	}
}

@media screen and (max-width: 374px) {
	.theme-controls {
		margin-top: 0;
	}
	.calculator-display {
		font-size: 2rem;
		width: 18rem;
		padding: 1rem;
	}

	.calculator-keys {
		height: 20rem;
	}

	.calculator-keys > * {
		font-size: 1.2rem;
	}
	.theme-numbers {
		margin-left: 220px;
	}
}
